<script setup lang="ts">
import { onMounted, ref, watch } from "vue";
import { useRoute } from "vue-router";

import { deauthenticate, queries, token, userRef } from "./api";
import { St8 } from "./util";
import Header from "./components/Header.vue";
import SoundUpload from "./components/SoundUpload.vue";

const showUpload = ref(false);

const route = useRoute();

watch(
  () => route.path,
  () => {
    if (showUpload.value) {
      showUpload.value = false;
    }
  },
);

onMounted(() => {
  const jwt = token();
  if (!jwt) {
    userRef.value = St8.Empty;
    return;
  }

  queries.users.detail(jwt).queryFn()
    .catch(_err => {
      deauthenticate();
    });
});
</script>

<template>
  <main class="space-y-12 px-2">
    <Header v-model:showUpload="showUpload" />
    <SoundUpload v-if="showUpload" v-model:showUpload="showUpload" />

    <router-view :key="route.fullPath.toString()" />
  </main>
</template>

<style scoped>
main {
  height: 100vh;
  width: 100%;
}
</style>
