<script setup lang="ts">
import { useRoute } from 'vue-router';

import { notify, St8, Paths, router } from '../util';
import { useSounds } from '../api';
import SoundView from './SoundView.vue';

const route = useRoute();

const authorId: string | string[] = route.params.userId;
const authorIdAsNumber = +authorId;

if (Number.isNaN(authorIdAsNumber)) {
  notify('Could not find that user, navigating home.');
  router.push(Paths.home).catch(console.warn);
}

const sounds = useSounds(authorIdAsNumber);

if (St8.ready(sounds.value) && sounds.value.length === 0) {
  router.push(Paths.home).catch(console.warn);
}
</script>

<template>
  <SoundView v-if="St8.ready(sounds)" v-for="s in sounds.slice(0, 10)" :key="s.soundId" :sound="s" :isDetailView="false" />

  <div v-if="St8.ready(sounds) && sounds.length === 0" class="flex items-center justify-center h-32">
    <p class="text-2xl opacity-70">
      No sounds yet from this author.
    </p>
  </div>
</template>
