<script setup lang="ts">
import { computed, onMounted, onUnmounted, ref, watch } from 'vue';

import CircularProgress from './CircularProgress.vue';
import { Nanosound, User } from '../interfaces';
import {
  deauthenticate,
  searched,
  iconColor,
  isMobile,
  useLogIn,
  userRef,
  useSignUp,
  useUpdateUsername,
  volume
} from '../api';
import { Paths, router, notify, notifyPromise, St8, isSuperagentError } from '../util';
import St8View from './St8View.vue';
import SoundView from './SoundView.vue';

const props = defineProps<{ showUpload: boolean }>();
const emit = defineEmits(['update:showUpload'])

const signUp = useSignUp();
const logIn = useLogIn();
const updateUsername = useUpdateUsername();

const showLoginPanel = ref(false);
const isNewAccount = ref(false);
const email = ref(sessionStorage.getItem('sonido-last-email') || '');
const emailRef = ref<HTMLInputElement | null>(null);

const drawerOpen = ref(false);
const search = ref('');
const searchedResults = ref<St8<{ users: User[]; sounds: Nanosound[] }>>(St8.Empty);

const isLoggedIn = computed(() => St8.ready(userRef.value));

function storeVol() {
  localStorage.setItem('sonido-volume', String(volume.value))
}

onMounted(() => window.addEventListener('beforeunload', storeVol))
onUnmounted(() => window.removeEventListener('beforeunload', storeVol))

watch(
  () => router.currentRoute.value.path,
  () => {
    if (drawerOpen.value) {
      drawerOpen.value = false;
    }
  }
);

function setAndStoreVol() {
  Array.from(document.querySelectorAll("audio"))
    .filter(_ => !_.paused)
    .forEach(_ => {
      _.volume = volume.value / 100;
    });

  storeVol()
}

async function onJoin(event: Event) {
  event.preventDefault();

  try {
    let u: User = await notifyPromise(
      isNewAccount.value ? signUp(email.value) : logIn(email.value),
      isNewAccount.value ? "Creating account..." : "Logging in..."
    );

    if (isNewAccount.value) {
      const newUsername =
        window.prompt('Success! Please choose a username:', u.username);

      if (newUsername?.includes('@')) {
        notify('Username cannot contain an @');
        return;
      }

      if (newUsername && newUsername !== u.username) {
        u = await notifyPromise(updateUsername(newUsername), "Updating username...");
      }
    }

    showLoginPanel.value = false;
    isNewAccount.value = false;

    notify(isNewAccount.value ? 'Welcome' : 'Welcome back' + ` ${u.username}!`);
  } catch (err) {
    console.error(err);

    if (isSuperagentError(err)) {
      const msg =
        err?.response?.text && JSON.parse(err.response.text).detail || err.message;
      notify(msg, { autoClose: 8000, closeButton: true })
    } else if (err instanceof Error) {
      notify(err.message);
    }
  } finally {
    email.value = '';
  }
}

function closeLogin() {
  showLoginPanel.value = false

  email.value = '';
}

function clickShare() {
  emit('update:showUpload', !props.showUpload)
}

async function clickJoin() {
  showLoginPanel.value = true

  await Promise.resolve()

  emailRef.value?.focus()
}

async function clickUser() {
  if (!window.confirm("Are you sure you want to log out?")) {
    return;
  }

  deauthenticate();

  notify("Logged out");
}

async function submitSearch() {
  searchedResults.value = St8.Loading;
  try {
    searchedResults.value = await searched(search.value);
    search.value = "";
  } catch (err) {
    console.error(err);

    searchedResults.value = St8.Error(err);
  }
}

function closeSearch() {
  drawerOpen.value = false
  searchedResults.value = St8.Empty;
}
</script>

<template>
  <header class="flex shadow-sm h-12">
    <div :class="[
      'flex p-3 justify-between w-lvw left-0 fixed top-0 backdrop-blur z-50 border-b-gray-200 dark:border-b-gray-700 border-b',
      isMobile ? 'px-2' : 'px-4']">

      <div class="flex items-center space-x-4">
        <div class="flex p-2 pl-0 text-2xl italic font-serif font-bold hover:cursor-pointer">
          <p class="gradient-text " @click="router.push(Paths.home)" role="button" tabIndex=0 data-testid="home-link">
            Sonido
          </p>
        </div>
        <input type="range" class="p-2 border border-slate-400 rounded-sm cursor-pointer mt-1 focus:outline-none w-28"
          min=0 max=100 step=5 v-model="volume" :onchange="setAndStoreVol" v-if="!isMobile" />
      </div>

      <div v-if="drawerOpen" class="fixed left-0 h-screen w-screen z-50 bg-black/80" @click="closeSearch"
        data-testid="close-search">
        <div v-if="drawerOpen" @click.stop="() => { }"
          class="fixed top-48 left-0 space-y-6 right-0 z-50 rounded-sm w-full p-6 bg-white dark:bg-gray-800 max-w-3xl mx-auto shadow-2xl">

          <div class='space-x-4 flex items-center'>
            <v-icon v-if="!isMobile" name="co-search" hover :fill="iconColor" scale="1.2" />
            <input type="text" v-model="search" placeholder="Find tracks or artists..." @keydown.enter="submitSearch"
              class="w-full rounded-md p-4 text-lg font-medium placeholder-slate-500 border border-slate-500/50"
              id="search" />
            <button @click="submitSearch" class="p-4 px-6 rounded-md font-bold border border-slate-300/50">
              Search
            </button>
          </div>

          <St8View :data="searchedResults">
            <template #default="{ data }">
              <p class="font-bold text-xl">
                Artists
              </p>

              <div v-for="user in data.users" v-if="data.users.length" :key="user.userId" class="flex">
                <div class="border p-4 rounded-md border-slate-500/50 w-full flex justify-between items-center"
                  @click="router.push(Paths.users(user.userId))" role="button">
                  <p class="text-lg font-medium" data-testid="found-user">
                    {{ user.username }}
                  </p>
                  <v-icon name="bi-chevron-right" hover :fill="iconColor" scale="1.2" />
                </div>
              </div>

              <p v-else class="font-bold pl-8 text-slate-500 text-lg">
                No results.
              </p>

              <p class="font-bold text-xl">
                Sounds
              </p>

              <div class="space-y-4" v-if="data.sounds.length">
                <SoundView v-for="sound in data.sounds" :key="sound.soundId" :sound="sound" noWaveform />
              </div>

              <p v-else class="font-bold pl-8 text-slate-500 text-lg">
                No sounds.
              </p>
            </template>
            <template #loading>
              <div class="flex items-center justify-center">
                <CircularProgress />
              </div>
            </template>
          </St8View>
        </div>
      </div>

      <div class="space-x-4 flex">
        <v-icon v-if="isMobile" name="co-search" hover :fill="iconColor" scale="1.2"
          class="my-auto mx-1 hover:cursor-pointer" @click="drawerOpen = true" data-testid="search-btn" />

        <div v-else
          class="p-3 pr-24 border border-slate-500/50 rounded-md space-x-2 flex whitespace-nowrap hover:cursor-pointer"
          @click="drawerOpen = true" data-testid="search-btn">

          <v-icon name="co-search" hover :fill="iconColor" scale="1.2" />
          <p class="text-slate-500">
            Search
          </p>
        </div>

        <div v-if="St8.ready(userRef)" class="flex space-x-2 ">
          <button @click="clickShare" class="bg-black dark:bg-white text-white dark:text-black "
            data-testid="share-track">
            Share Track &oplus;
          </button>

          <div v-if="isMobile" @click="clickUser" role="button" class="px-2 mt-3">
            <v-icon name="bi-person" scale="1.2" :fill="iconColor" @click="clickUser" />
          </div>
          <button v-else @click="clickUser" class="text-sm border border-slate-500/50 font-bold"
            data-testid="real-user">
            {{ userRef?.username }}
            <v-icon name="bi-person" scale="1.2" hover :fill="iconColor" class="-mb-0.5" />
          </button>
        </div>

        <div v-else-if="isLoggedIn" class="flex space-x-2">
          <div class="flex justify-center items-center mr-4">
            <CircularProgress />
          </div>
        </div>

        <button v-else @click="clickJoin" data-testid="join-share-btn"
          class="bg-black dark:bg-white text-white dark:text-black whitespace-nowrap font-bold">
          Join & Share
        </button>
      </div>
    </div>

    <div v-if="showLoginPanel" class="fixed left-0 h-screen w-screen z-50 backdrop-blur" @click="closeLogin">
      <div v-if="showLoginPanel" @click.stop="() => { }"
        class="fixed top-1/4 left-0 right-0 p-4 z-50 rounded-md box-border px-4 py-8 bg-white dark:bg-gray-800 max-w-96 my-0 mx-auto shadow-2xl">
        <p class="gradient-text text-3xl text-center italic font-bold font-serif pb-4">
          Sonido
        </p>
        <!--p class="text-2xl text-center pb-2 font-bold">
          Join & Share
        </p-->
        <form class="flex flex-col space-y-6" @submit.prevent>
          <div class="flex space-x-2 justify-center py-6 font-bold text border border-slate-400/50 rounded-md">
            <p :class="isNewAccount ? '' : 'opacity-50'" class="text-xl" @click="isNewAccount = true">
              Sign Up
            </p>
            <div class="flex items-center relative" @click="isNewAccount = !isNewAccount">
              <button role="switch" :class="[
                'absolute inline-flex flex-shrink-0 h-6 w-12 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500',
                !isNewAccount ? 'bg-blue-600' : 'bg-gray-200'
              ]" :aria-checked="isNewAccount" />
              <span :class="[
                'pointer-events-none absolute inline-block h-5 w-5 rounded-full bg-white shadow transform ring-0 transition ease-in-out duration-200',
                !isNewAccount ? 'translate-x-6' : 'translate-x-0'
              ]" aria-hidden="true" />
            </div>
            <p :class="!isNewAccount ? '' : 'opacity-50'" class="text-xl pl-12" @click="isNewAccount = false">
              Log In
            </p>
          </div>


          <div class="flex flex-col space-y-1">
            <label for="email" class="text-sm font-medium">Email</label>
            <input type="text" id="email" v-model="email" ref="emailRef" @keydown.enter="onJoin"
              class="font-medium rounded-md p-2 border border-slate-400" />
          </div>

          <button class="disabled:opacity-40 bg-black dark:bg-white text-white dark:text-black font-bold"
            :disabled="!email" @click="onJoin" data-testid="auth-btn">
            {{ isNewAccount ? "Sign Up" : "Log In" }}
          </button>
        </form>
      </div>
    </div>
  </header>

</template>

<style scoped>
.gradient-text {
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  letter-spacing: -1px;
}
</style>
