<script setup lang="ts">
import { useIsMutating } from '@tanstack/vue-query';
import Response from 'superagent/lib/node/response';
import { computed, ref } from 'vue';

import { isMobile, trimFile, userRef, useUploadSound } from '../api';
import { router, notify, notifyPromise, size, St8, Paths } from '../util';

const fileRef = ref<File | null>(null);
const fname = ref("");
const fdescription = ref("");

const emit = defineEmits(['update:showUpload'])
const props = defineProps<{ showUpload: boolean }>();

const isMutating = useIsMutating();
const uploadSound = useUploadSound();

const maxDur = 21; // seconds

async function onUpload() {
  if (!fileRef.value) {
    return console.error("No upload file selected");
  }

  if (!St8.ready(userRef.value)) {
    return console.error("Not logged in");
  }

  try {
    const promise = uploadSound({
      name: fname.value,
      file: fileRef.value,
      authorId: userRef.value.userId,
      authorName: userRef.value.username,
      description: fdescription.value
    })
    const uploaded = await notifyPromise(promise, `Uploading ${fname.value}...`);

    await router.push(Paths.sounds(uploaded.soundId));

    notify("Here is your sound!");
  } catch (err) {
    console.error(err);

    if (err instanceof Response) {
      const m = err.error ? err.error.message : err.text
      notify(m)
    } else if (err instanceof Error) {
      notify(err.message);
    }
  } finally {
    fileRef.value = null;
    fname.value = '';
    fdescription.value = '';

    emit('update:showUpload', !props.showUpload)
  }
}

async function selectFile(e: Event) {
  let f: File | undefined = (e.target as HTMLInputElement)?.files?.[0];
  if (!f) {
    return;
  }

  if (fileRef.value) {
    e.preventDefault()
    e.stopPropagation();
    notify("already have track");
    return;
  }

  const ctx = new AudioContext()
  const audioBuf = await f.arrayBuffer().then(buf => ctx.decodeAudioData(buf))
  const duration = Math.round(audioBuf.duration);

  if (duration > maxDur) {
    if (!window.confirm(`Upload first 21 seconds of ${duration} seconds total?`)) {
      return;
    }

    await trimFile(f);
  }

  const yyyymmdd = new Date().toISOString().slice(0, 10);
  fname.value = f.name || `Untitled Track ${yyyymmdd}`;

  fileRef.value = f;
}

const isLoggedIn = computed(() => St8.ready(userRef.value));
</script>

<template>
  <div v-if="isLoggedIn">
    <label for="file" :class="[
      'block p-16 relative overflow-hidden rounded border-dashed border border-slate-500 shadow-md w-3/4 mx-auto',
      isMobile ? 'w-full' : ''
    ]">
      <input v-if="!fileRef" type="file" accept="audio/*" id="file" multiple="false" class="overlayed opacity-0"
        @input="selectFile">
      <div class="flex flex-col items-center justify-center">
        <h5 class="text-3xl font-bold">Upload {{ fname || 'Sound' }}</h5>
        <p class="text-center font-medium opacity-70">
          {{ fileRef ? `${size(fileRef.size)}` : 'Click here or drag mp3/mp4/wav files here.' }}
        </p>
      </div>

      <div v-if="!!fileRef" class="flex flex-col space-y-2 justify-center items-center mt-4">
        <label for="name" class="flex flex-col w-full">
          <p class="text-gray-500 text-sm">Name</p>
          <input id="name" type="text" class="font-normal p-2 w-full border border-gray-300/50 rounded"
            :placeholder="fileRef?.name" :disabled="isMutating > 0" v-model="fname" />
        </label>
        <label for="description" class="flex flex-col w-full">
          <p class="text-gray-500 text-sm" :class="{ 'invisible': fdescription.length === 0 }">
            Description
          </p>
          <textarea id="description" maxlength="200"
            class="font-normal p-2 w-full border border-gray-300/50 rounded resize-none leading-5"
            placeholder="Description" :disabled="isMutating > 0" v-model="fdescription" />
        </label>
      </div>

      <div class="self-end space-x-4 items-end flex pt-4 justify-center" @click.prevent>
        <button @click="emit('update:showUpload', !props.showUpload)"
          class="rounded-lg text-lg bg-transparent border border-gray-300/50 opacity-90" :disabled="isMutating > 0">
          Cancel
        </button>

        <button @click="onUpload"
          class="rounded-lg bg-black text-white dark:bg-white dark:text-black disabled:opacity-20 text-lg disabled:cursor-not-allowed"
          :disabled="!fileRef || isMutating > 0" data-testid="upload-btn">
          Share &uarr;
        </button>
      </div>
    </label>
  </div>
</template>
