<script setup lang="ts">
import { useRoute } from 'vue-router';

import CircularProgress from './CircularProgress.vue';
import SoundView from './SoundView.vue';
import { router, Paths, notify, St8 } from '../util';
import { useSound } from '../api';

const route = useRoute();

const soundId = route.params.soundId;
if (typeof soundId !== "string") {
  notify('Invalid soundId, navigating home.');
  router.push(Paths.home).catch(console.warn);
}

const sound = useSound(String(soundId));
</script>

<template>
  <div class="pb-12">
    <div v-if="St8.loading(sound)" class="flex items-center justify-center">
      <CircularProgress />
    </div>

    <SoundView v-else-if="St8.ready(sound)" :sound="sound" isDetailView />
  </div>
</template>
