<script setup lang="ts" generic="T">
import { isRef } from "vue";

import { St8 } from "../util";

defineSlots<{
  error(): any;
  loading(): any;
  empty(): any;
  default(props: { data: T }): any;
}>();

const { data } = defineProps<{ data: St8<T> }>();
</script>

<template>
  <template v-if="St8.empty(data)">
    <slot name="empty" />
  </template>

  <template v-else-if="St8.error(data)">
    <template v-if="$slots.error">
      <slot name="error" />
    </template>
    <template v-else>
      <p class="p-4 text-red-500">An unexpected error occured</p>
    </template>
  </template>

  <template v-else-if="St8.loading(data)">
    <template v-if="$slots.loading">
      <slot name="loading" />
    </template>
    <template v-else>
      <p class="p-4 text-gray-500 text-xl">Loading...</p>
    </template>
  </template>

  <template v-else-if="St8.ready(data)">
    <slot :data="(isRef(data) ? data.value : data) as T" />
  </template>
</template>
