<script setup lang="ts">
import { useSounds } from '../api';
import SoundView from './SoundView.vue';
import St8View from "./St8View.vue";

const sounds = useSounds();
</script>

<template>
  <St8View :data="sounds">
    <template #default="{ data }">
      <SoundView v-for="sound in data" :key="sound.soundId" :sound="sound" />

      <div v-if="data.length === 0" class="flex items-center justify-center h-32">
        <p class="text-3xl opacity-70">
          No sounds yet &#128532; &nbsp; Be first to post! &#128522;
        </p>
      </div>
    </template>
  </St8View>
</template>
